#main-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
   /* background-color: #1AACC5; */
}

#main-navbar li {
    margin-left: 12 em;
    display: inline;
}

#main-navbar a {
    display: inline-block;
    padding: .5em 1.5em;
}

#main-navbar a:link {
    text-decoration: none;
}