
html {
    height: 100%;
    box-sizing: border-box;
  }

body {
    background: linear-gradient(90deg, rgba(15,95,209,1) 0%, rgba(25,209,146,1) 100%);
    position: relative;
    padding-bottom: 8rem;
    min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#no-cursor {
    pointer-events: none;
}

