#drop-box {
    margin-top: 1em;
    border: 4px dashed #19D192;
    border-radius: 5px;
    width:  75%;
    height: 300px;
    background-color: #0FDCC9;
  }

#file-input {
  padding: 8px;
}
.choosing-files {
  opacity: .75;
}
