#drop-box {
    border: 2px dashed;
    border-radius: 5px;
    width:  50%;
    height: 200px;
  }

.choosing-files {
  border: 3px solid seagreen;
  opacity: .6;
}

.upload-box {
  border: 1px solid;
  border-radius: 5px;
  width:  50%;
  height: auto;
  padding: 5px;
  background-color: seagreen;
}

.upload-result {
  width: 100%;
}